*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body{
  background-color: gainsboro;
}
body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 5px;
}
#root{overflow: hidden;}

