@media screen and(min-width:768px) {
    .menuListBox__ancla{font-size: 3em;}
    .infoIniciotexto__titulo{width: 80%; font-size: 3.2em; text-align: left;}
    .infoIniciotexto__parrafo{font-size: 1.3em;}
    .infoIniciotexto__btn,.proyectosInfo__btn{width: 140px; height: 45px;}
    .sobreInfoTexto__titulo{font-size: 2em;}
    .sobreInfoTexto__parrafo{font-size: 1.2em;}
    .sobreInfo-flex, .sobreInfo-flex-reverse{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 400px;
        padding: 20px;
    }.sobreInfo-flex-reverse{flex-direction: row-reverse;}
    .sobreInfoTexto{ padding: 20px;
        width: 60%;}
    .proyectosImg{height: 350px;}
    .proyectosInfo__titulo{font-size: 1.4em;}
    .proyectosInfo__parrafo{font-size: .8em;}
    .servicios-grid{display: grid; grid-template-columns: repeat(2,1fr);}
    .formGrupo{width: 70%;}
}

@media screen and(min-width: 1024px) {
    .infoIniciotexto__titulo{
        width: 60%;
    }
    .infoIniciotexto__parrafo{width: 75%;}
    .menuListBox__ancla{font-size: 2em;}
}

@media screen and(min-width: 1300px) {
    .infoIniciotexto__titulo{font-size: 4em; width: 40%;}
    .infoIniciotexto__parrafo{font-size: 1.5em; width: 50%;}
    .infoIniciotexto{left: 52%;}
    .menuListBox__ancla{font-size: 3em;}
    .sobreInfo-flex, .sobreInfo-flex-reverse{height: 526px; padding: 0; flex-direction: column; justify-content: center;}
    .proyectosImg{height: 550px;}
    .proyectosInfo{width: 40%;}
    .servicios-grid{display: flex;}
    .HerramientasDesarrollo{justify-content: center;}
    .form{width: 65%;}
    .proyectos-flex{display: flex; justify-content: center;align-items: center;}
    .proyectoCaja{width: 420px;}
    .sobreInfoTexto{width: 95%;}
    .sobrePerfil{display: grid; grid-template-columns: repeat(2,300px); img{object-fit: cover;} height: inherit;}
    .sobreInfo{display: flex;}
    .sigSeccion{font-size: 1.5em;}
}
